/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */




.admin-wrapper h2:first-child{
    margin-top: 0;
    margin-bottom: 0;
}

.admin-wrapper .jumbotron h3{
    margin-top: 10px;
}

.affix {
    top: 20px;
}

.admin-wrapper{
	font-size: 16px;
    padding: 0;
}

.admin-container{
	word-wrap: break-word;
}

#admin-terminal{
    padding: 11px;
    padding-top: 0;
    color: #df1aff;
    top: 4px;

    position: relative;
    display: inline-block;
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.form-inline .group-input .link-input{
    width: 98%;
    margin: 10px 10px 10px 0;
}

.group-input{
	width: 94%;
}

#admin-container .header-all{
    padding-top: 0;
    padding-bottom: 0;
	background:#333;
	font-family: monospace;
}

#login-wraper .error-alert{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -25px;
}

.not-here{
	opacity: 0;
    position: absolute;
    z-index: -100000;
    left: -99999px;
}
.table-condensed tr,.table-condensed tr td {position: relative; overflow-wrap: break-word;}
.table-condensed tr a.mask {position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-bottom: 1px solid rgba(0,0,0,0.2);}
tr.eugene {background-color: #FFF6B1 !important;}
/*tr.eugene {background-color: #ffe200 !important;}*/
tr.roman {background-color: #D8E6F4 !important;}
tr.mila {background-color: #E4F38C !important;}
tr.mikhail {background-color: #D7CBDE !important;}
tr.ivan {background-color: #B6E3D9 !important;}
#new_link {width: 100%; overflow: hidden; position: relative;}
#new_link .group-input {margin-right: 60px; display: block; width: auto;}
#new_link #add_button {position: absolute; right: 0; top: 10px;}
@media (min-width: 440px) and (max-width: 530px) {.table-condensed {font-size: 13px;} .table-condensed tr td:first-child {max-width: 300px;}}
@media (min-width: 380px) and (max-width: 440px) {.table-condensed {font-size: 11px;} .table-condensed tr td:first-child {max-width: 230px;}}
@media (min-width: 350px) and (max-width: 380px) {.table-condensed {font-size: 10px;} #admin-terminal {font-size: 18px;} .table-condensed tr td:first-child {max-width: 180px;}}
@media (max-width: 350px) {.table-condensed {font-size: 10px;} #admin-terminal {font-size: 18px;} .container {padding: 0 10px;}  .table-condensed tr td:first-child {max-width: 150px;} .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {padding: 0 2px;}}
